@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');
        
body {
    background-color:#F5F5EF;
}
 li, a, button{
     font-family: "Montserrat", sans-serif;
     font-weight: 500;
     font-size: 16px;
     color:#545454;
     text-decoration: none;

 }
     header {
            display:flex;
            justify-content: flex-end;
            align-items: center;
            padding: 20px 10%;
            font-family: Montserrat;
            background-color: #F5F5EF;
        }
      
        .logo {
            cursor: pointer;
            margin-right: auto;
            position: relative;
        }
        .nav_links{
            list-style: none;
           
        }
        .nav_links li {
            display: inline-block;
            padding: 0px 20px 0; 
        }
        .nav_links li a {
            transition: all 0.3s ease 0s;
        }
        .nav_links li a:hover {
            color: #0088a9;
        }
        button{
            margin-left: 20px;
            padding: 5px 25px;
            background-color: rgba(0,136,169,1);
            border: none;
            border-radius: 50px;
            cursor: pointer;
            transition: all 0.3s ease 0s;
        }
        
        button:hover{
            background-color: #68A699;

        }
        .slide-container{
            width:600px;
            height: 400px;
            margin-left: auto;
            margin-right: auto;
            text-align:center;
            overflow: hidden;
            
        }
        .image-container{
            width: 1800px;
            height: 400px;
            transition: left 2s;
            -webkit-transition: left 2s;
            -moz-transition: left 2s;
            -o-transition: left 2s;
            position: relative;
        }

        .slider-image{
            float: left;
            margin: 0px;
            padding: 0px;

        }
        .button-container{
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;

        }
        .slider-button{
            margin-right: 5px;
            height: 10px;
            width: 10px;
            border-radius: 5px;
            background-color: #68A699;
           
        }
        #slider-image-1:target ~ .image-container{
            left: 0px;
        }
        #slider-image-2:target ~ .image-container{
            left: -800px;
        }
        #slider-image-3:target ~ .image-container{
            left: -1600;
        }
        .intro{
            padding: 20px;
            padding-left:80px;
            margin-left: 50px;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            color:#68A699;
        }
        .intro li{
            color: #68A699;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
        }
        .intro img{
            justify-content: center;
        }
        .textbox{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            display:flex;
            flex-direction:column;
            padding-top: 20px;
            padding-left: 50px;
            
        }
        .picc {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        }

        .graduation{
            display:flex;
            flex-direction:row;
            justify-content: space-around;

        }
        .about{
            display: flex;
            flex-direction: row;

        }